src/flows/Cancel_Renewal_Opp_on_Parent_Termination.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Opp_To_List</name>
        <label>Add Opp To List</label>
        <locationX>640</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>OppListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Renewal_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_To_Cancel</name>
        <label>Change Status To Cancel</label>
        <locationX>499</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate.StageNameBeforeTerminationCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpp.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Opp_Qualifies</name>
        <label>Check If Opp Qualifies</label>
        <locationX>345</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Renewal_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Qualifies</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>RenewalOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RenewalOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RenewalOpp.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_To_Cancel</targetReference>
            </connector>
            <label>If Qualifies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IF_Size_0</name>
        <label>Check IF Size &gt; 0</label>
        <locationX>126</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenewalOppList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Renewal_Opp</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Renewal Opp on Parent Termination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Renewal Opp on Parent Termination</label>
    <loops>
        <name>Loop_Over_Renewal_Opp</name>
        <label>Loop Over Renewal Opp</label>
        <locationX>226</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>RenewalOpp</assignNextValueToReference>
        <collectionReference>RenewalOppList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Opp_Qualifies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Renewal_Records</name>
        <label>Get Child Renewal Records</label>
        <locationX>134</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IF_Size_0</targetReference>
        </connector>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>RenewalOppList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>StageNameBeforeTerminationCase__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>244</locationX>
        <locationY>311</locationY>
        <inputReference>OppListToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Child_Renewal_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RenewalOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RenewalOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
