src/flows/Create_Amendment_Renewal_Quote_And_QLI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Renewal_Quote_Instance</name>
        <label>Assign Renewal Quote Instance</label>
        <locationX>483</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>RenewalQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Grace_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Grace_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.CCL_Sign_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.CCL_Sign_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Proposed_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLeaseStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Proposed_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Previous_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Grace_Period_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Grace_Period_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Grace_Period_Mechanism__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Grace_Period_Mechanism__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Proposed_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Proposed_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.Proposed_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuote.Proposed_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuote.IsSyncing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Quote_Line_Items</name>
        <label>Assign Renewal Quote Line Items</label>
        <locationX>540</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenewalQuoteLineItemInstance.Transactional_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedQuoteLineItem.Transactional_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Renewal_Quote_Line_Item_List</name>
        <label>Add QLI List</label>
        <locationX>342</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>RenewalQLIList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RenewalQuoteLineItemInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Fetched_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_fetched_QLI_Not_Null</name>
        <label>Check If fetched QLI Not Null</label>
        <locationX>834</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_QLI_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedQuoteLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Fetched_Quote</targetReference>
            </connector>
            <label>If QLI Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Fetched_Quote_Is_Not_Null</name>
        <label>Check If Fetched Quote Is Not Null</label>
        <locationX>326</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedQuote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FetchedQuote.IsSyncing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal_Quote_Instance</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Create Amendment Renewal Quote And QLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote And QLI</label>
    <loops>
        <name>Iterate_Over_Fetched_Quote</name>
        <label>Iterate Over Fetched Quote</label>
        <locationX>458</locationX>
        <locationY>306</locationY>
        <assignNextValueToReference>FetchedQuoteLineItem</assignNextValueToReference>
        <collectionReference>FetchedQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Renewal_Quote_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Renewal_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_QLI</name>
        <label>Create Renewal QLI</label>
        <locationX>134</locationX>
        <locationY>308</locationY>
        <inputReference>RenewalQLIList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Quote</name>
        <label>Create Renewal Quote</label>
        <locationX>590</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>RenewalQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Opportunity</name>
        <label>Get Child Opportunity</label>
        <locationX>147</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_From_Parent_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>GetChildOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parent_Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_From_Parent_Opportunity</name>
        <label>Get Quote From Parent Opportunity</label>
        <locationX>251</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Fetched_Quote_Is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChildOpportunity.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>FetchedQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Grace_Period__c</queriedFields>
        <queriedFields>CCL_Sign_Date__c</queriedFields>
        <queriedFields>Payment_Terms__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Proposed_Start_Date__c</queriedFields>
        <queriedFields>Proposed_End_Date__c</queriedFields>
        <queriedFields>Grace_Period_Period__c</queriedFields>
        <queriedFields>Grace_Period_Mechanism__c</queriedFields>
        <queriedFields>IsSyncing</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>624</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_fetched_QLI_Not_Null</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchedQuote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>FetchedQuoteLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Area__c</queriedFields>
        <queriedFields>Parent_Quote_Line_Item__c</queriedFields>
        <queriedFields>Transactional_Unit__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Child_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>FetchedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>FetchedQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>FetchedQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>GetChildOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalQLIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>RenewalQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>RenewalQuoteLineItemInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
