src/flows/Create_Work_Orders_From_WorkOrder_Template.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Items_To_Work_Order_List</name>
        <label>Add Items To Work Order List</label>
        <locationX>694</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>workOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_WorkOrder_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Instance</name>
        <label>Work Order Instance</label>
        <locationX>693</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderInstance.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderInstance.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderTemplateInstance.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Items_To_Work_Order_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Work Orders From WorkOrder Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Orders From WorkOrder Template</label>
    <loops>
        <name>Iterate_Over_WorkOrder_Template</name>
        <label>Iterate Over WorkOrder Template</label>
        <locationX>348</locationX>
        <locationY>164</locationY>
        <assignNextValueToReference>workOrderTemplateInstance</assignNextValueToReference>
        <collectionReference>workOrderTemplateList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Order_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>350</locationX>
        <locationY>419</locationY>
        <inputReference>workOrderList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_WorkOrder_Header_From_Name</name>
        <label>Get WorkOrder Header From Name</label>
        <locationX>50</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder_Template</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post_Lease_New</stringValue>
            </value>
        </filters>
        <object>Work_Order_Header__mdt</object>
        <outputReference>FetchedWorkOrderHeader</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Template</name>
        <label>Get WorkOrder Template</label>
        <locationX>194</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_WorkOrder_Template</targetReference>
        </connector>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchedWorkOrderHeader.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>workOrderTemplateList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <startElementReference>Get_WorkOrder_Header_From_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>FetchedWorkOrderHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Header__mdt</objectType>
    </variables>
    <variables>
        <name>WorkHeaderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderTemplateInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>workOrderTemplateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
</Flow>
