src/flows/Create_Renewal_Opp_on_Button_Click.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values_to_Opportunity</name>
        <label>Assign Values to Opportunity</label>
        <locationX>734</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Newopportunity.Lease_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lease_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Lease_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lease_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Business_Park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Business_Park__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Lease_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Lease_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Opportunity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Parent_Amendment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Amendment_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.T_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.T_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Lease_End_Date_is_Today_or_Not</name>
        <label>Check if Lease End Date is Today or Not</label>
        <locationX>320</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Lease_End_Date_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Lease_End_Date_is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedOpportunity.Lease_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Synced_Quote_is_Present</targetReference>
            </connector>
            <label>Check if Lease End Date is Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Record_is_created_or_Not</name>
        <label>Check If Record is created or Not</label>
        <locationX>853</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newopportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Yes created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Synced_Quote_is_Present</name>
        <label>Check If Synced Quote is Present</label>
        <locationX>494</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Synced_Quote_is_Present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedOpportunity.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Opportunity</targetReference>
            </connector>
            <label>Check If Synced Quote is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Is_Active_or_Not</name>
        <label>Opportunity Is Active or Not</label>
        <locationX>107</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Not_Active_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Lease_End_Date_is_Today_or_Not</targetReference>
            </connector>
            <label>Opportunity Is Active</label>
        </rules>
    </decisions>
    <interviewLabel>Create Renewal Opp on Button Click {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Renewal Opp on Button Click</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity_Record</name>
        <label>Create Renewal Opportunity Record</label>
        <locationX>901</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Check_If_Record_is_created_or_Not</targetReference>
        </connector>
        <inputReference>Newopportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ParentOpportunity</name>
        <label>ParentOpportunity</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Is_Active_or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>FetchedOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Park__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Lease_Type__c</queriedFields>
        <queriedFields>Opportunity_Type__c</queriedFields>
        <queriedFields>Parent_Amendment_Id__c</queriedFields>
        <queriedFields>T_Code__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Amendment_Id__c</queriedFields>
        <queriedFields>Lease_End_Date__c</queriedFields>
        <queriedFields>SyncedQuoteId</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>609</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Lease_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Lease Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lease_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Lease End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>491</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Synced_Quote_Not_Present</name>
            <fieldText>&lt;p&gt;There is not synced Quote present on Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>596</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Record_Is_Not_created</name>
            <fieldText>&lt;p&gt;Record is not created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lease_End_Date_Error</name>
        <label>Lease End Date Error</label>
        <locationX>330</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lease_End_Date_ErrorMsg</name>
            <fieldText>&lt;p&gt;Opportunity Lease End Date should be today to create renewal Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Not_Active_Error</name>
        <label>Opportunity Not Active Error</label>
        <locationX>101</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Active_Opportunity</name>
            <fieldText>&lt;p&gt;Opportunity should be active to create renewal Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>568</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Yes_Record_is_Created</name>
            <fieldText>&lt;p&gt;Record Created Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ParentOpportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>FetchedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Newopportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
