src/flows/Create_Amendment_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values_to_Opportunity</name>
        <label>Assign Values to Opportunity</label>
        <locationX>500</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>Newopportunity.Lease_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lease_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expansion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Business_Park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Business_Park__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Lease_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Lease_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Opportunity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Parent_Amendment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Parent_Amendment_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.T_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.T_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Newopportunity.Building_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchedOpportunity.Building_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Expansion_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Record_is_created_or_Not</name>
        <label>Check If Record is created or Not</label>
        <locationX>599</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newopportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Yes created</label>
        </rules>
    </decisions>
    <interviewLabel>Create Amendment Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Amendment Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Expansion_Opportunity_Record</name>
        <label>Create Expansion Opportunity Record</label>
        <locationX>614</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Check_If_Record_is_created_or_Not</targetReference>
        </connector>
        <inputReference>Newopportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ParentOpportunity</name>
        <label>ParentOpportunity</label>
        <locationX>346</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>FetchedOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lease_End_Date__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Building_Name__c</queriedFields>
        <queriedFields>T_Code__c</queriedFields>
        <queriedFields>Parent_Amendment_Id__c</queriedFields>
        <queriedFields>Lease_Type__c</queriedFields>
        <queriedFields>Business_Park__c</queriedFields>
        <queriedFields>Opportunity_Type__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Expansion_Opportunity</name>
        <label>Create Expansion Opportunity</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ParentOpportunity</targetReference>
        </connector>
        <fields>
            <name>Lease_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Lease Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>262</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Record_Is_Not_created</name>
            <fieldText>&lt;p&gt;Record is not created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>259</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Yes_Record_is_Created</name>
            <fieldText>&lt;p&gt;Record Created Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Expansion_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>FetchedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Newopportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
