src/flows/CreateHandoverAndSecurityInspectionWorkOrder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_For_Owner_Id</name>
        <label>Check For Owner Id</label>
        <locationX>152</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Reinstatement_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReinstatementWorkOrder.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reinstatement_If_Owner_Null</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHandoverInspectionOwnerId</name>
        <label>CheckHandoverInspectionOwnerId</label>
        <locationX>630</locationX>
        <locationY>72</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HandoverInspectionOwnerIdNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHandoverInspectionWorkOrderRecord</targetReference>
            </connector>
            <label>HandoverInspectionOwnerIdNotNULL</label>
        </rules>
        <rules>
            <name>HandoverInspectionOwnerIdNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHandoverInspectionRecord</targetReference>
            </connector>
            <label>HandoverInspectionOwnerIdNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSecurityInspectionOwnerId</name>
        <label>CheckSecurityInspectionOwnerId</label>
        <locationX>624</locationX>
        <locationY>427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SecurityInspectionOwnerIdNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchSecurityInspectionWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSecurityInspectionWorkOrderRecord</targetReference>
            </connector>
            <label>SecurityInspectionOwnerIdNotNULL</label>
        </rules>
        <rules>
            <name>SecurityInspectionOwnerIdNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchSecurityInspectionWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSecurityInspectionRecord</targetReference>
            </connector>
            <label>SecurityInspectionOwnerIdNULL</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CreateHandoverAndSecurityInspectionWorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateHandoverAndSecurityInspectionWorkOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reinstatement_If_Owner_Null</name>
        <label>Create Reinstatement If Owner Null</label>
        <locationX>199</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>GetHandoverInspectionWorkOrderHeaderTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reinstatement_Work_Order</name>
        <label>Create Reinstatement Work Order</label>
        <locationX>446</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>GetHandoverInspectionWorkOrderHeaderTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>ReinstatementWorkOrder.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateHandoverInspectionRecord</name>
        <label>CreateHandoverInspectionRecord</label>
        <locationX>462</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>GetSecurityInspectionWorkOrderTemplateRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateHandoverInspectionWorkOrderRecord</name>
        <label>CreateHandoverInspectionWorkOrderRecord</label>
        <locationX>822</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>GetSecurityInspectionWorkOrderTemplateRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSecurityInspectionRecord</name>
        <label>CreateSecurityInspectionRecord</label>
        <locationX>460</locationX>
        <locationY>546</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSecurityInspectionWorkOrderRecord</name>
        <label>CreateSecurityInspectionWorkOrderRecord</label>
        <locationX>832</locationX>
        <locationY>514</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Reinstatement_Work_Order_Header</name>
        <label>Get Reinstatement Work Order Header</label>
        <locationX>268</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Owner_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>ReinstatementWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetHandoverInspectionWorkOrderHeaderTemplate</name>
        <label>GetHandoverInspectionWorkOrderHeaderTemplate</label>
        <locationX>395</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHandoverInspectionOwnerId</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>FetchWorkOrderTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSecurityInspectionWorkOrderTemplateRecord</name>
        <label>GetSecurityInspectionWorkOrderTemplateRecord</label>
        <locationX>632</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSecurityInspectionOwnerId</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>FetchSecurityInspectionWorkOrderTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWOrkOrderHeaderRecords</name>
        <label>GetWOrkOrderHeaderRecords</label>
        <locationX>210</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reinstatement_Work_Order_Header</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease_Termination</stringValue>
            </value>
        </filters>
        <object>Work_Order_Header__mdt</object>
        <outputReference>FetchWorkOrderHeaderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <startElementReference>GetWOrkOrderHeaderRecords</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FetchSecurityInspectionWorkOrderTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>FetchWorkOrderHeaderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Header__mdt</objectType>
    </variables>
    <variables>
        <name>FetchWorkOrderTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>ReinstatementWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>ReinstatementWorkOrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
</Flow>
