src/flows/Create_Opportunity_with_Type_Modification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Check_if_quote_is_present_related_to_Opportunity</name>
        <label>Check if quote is present related to Opportunity</label>
        <locationX>305</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Che</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_all_the_Quotes</targetReference>
            </connector>
            <label>Check if quote is present</label>
        </rules>
        <rules>
            <name>Check_if_quote_is_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_is_not_Present</targetReference>
            </connector>
            <label>Check if quote is not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_is_Synced</name>
        <label>Check if Quote is Synced</label>
        <locationX>514</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Quote_is_not_Synced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_Synced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSyncedQuote.IsSyncing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Sub_Type_of_Opportunity</targetReference>
            </connector>
            <label>Quote is Synced</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Subtype_of_Opportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Opportunity with Type Modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity with Type Modification</label>
    <loops>
        <name>For_all_the_Quotes</name>
        <label>For all the Quotes</label>
        <locationX>312</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>GetSyncedQuote</assignNextValueToReference>
        <collectionReference>GetAllQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Quote_is_Synced</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_with_Type_Modification</name>
        <label>Create Opportunity with Type Modification</label>
        <locationX>720</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Quote_and_QLI</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ParentOpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Park__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Business_Park__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>ParentOpportunityRecord.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>ParentOpportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_End_Date__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Lease_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Start_Date__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Lease_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ParentOpportunityRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Opportunity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Amendment_Id__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Parent_Amendment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_Code__c</field>
            <value>
                <elementReference>ParentOpportunityRecord.T_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Modification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_all_Quotes</name>
        <label>Fetch all Quotes</label>
        <locationX>314</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_quote_is_present_related_to_Opportunity</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>GetAllQuotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsSyncing</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity_Record</name>
        <label>Get Parent Opportunity Record</label>
        <locationX>178</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_all_Quotes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ParentOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Business_Park__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Lease_End_Date__c</queriedFields>
        <queriedFields>Lease_Start_Date__c</queriedFields>
        <queriedFields>Lease_Type__c</queriedFields>
        <queriedFields>Opportunity_Type__c</queriedFields>
        <queriedFields>Parent_Amendment_Id__c</queriedFields>
        <queriedFields>T_Code__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Enter_Sub_Type_of_Opportunity</name>
        <label>Enter Sub Type of Opportunity</label>
        <locationX>722</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity_with_Type_Modification</targetReference>
        </connector>
        <fields>
            <name>Sub_Type_of_Opportunity</name>
            <choiceReferences>Subtype_of_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub-Type of Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_created_Successfully</name>
        <label>Opportunity created Successfully</label>
        <locationX>874</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedOpportunity</name>
            <fieldText>&lt;p&gt;Opportunity with type Modification is created successfully with Quote and QLI.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_is_not_Present</name>
        <label>Quote is not Present</label>
        <locationX>79</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteIsNotPresesnt</name>
            <fieldText>&lt;p&gt;No Quotes are present related to this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_is_not_Synced</name>
        <label>Quote is not Synced</label>
        <locationX>521</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Quote_not_Synced</name>
            <fieldText>&lt;p&gt;This Opportunity does not contain any Synced Quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Parent_Opportunity_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Quote_and_QLI</name>
        <label>Create Quote and QLI</label>
        <locationX>884</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Opportunity_created_Successfully</targetReference>
        </connector>
        <flowName>Create_Amendment_Renewal_Quote_And_QLI</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>NewOpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>GetAllQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>GetSyncedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
