src/flows/Create_Document_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>406</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>lstDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Template_fields</name>
        <label>Assign Document Template fields</label>
        <locationX>134</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>varDocument.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocumentTemplate.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Document Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Document Records</label>
    <loops>
        <name>Loop_Through_Document_Templates</name>
        <label>Loop Through Document Templates</label>
        <locationX>406</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>varDocumentTemplate</assignNextValueToReference>
        <collectionReference>lstDocumentTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Template_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>633</locationX>
        <locationY>225</locationY>
        <inputReference>lstDocument</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Document_Matrix</name>
        <label>Query Document Matrix</label>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Document_Template</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDocumentMatrixName</elementReference>
            </value>
        </filters>
        <object>Document_Matrix__mdt</object>
        <outputReference>varDocumentMatrix</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Document_Template</name>
        <label>Query Document Template</label>
        <locationX>407</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Document_Templates</targetReference>
        </connector>
        <filters>
            <field>Document_Matrix__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDocumentMatrix.Id</elementReference>
            </value>
        </filters>
        <object>Document_Template__mdt</object>
        <outputReference>lstDocumentTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <startElementReference>Query_Document_Matrix</startElementReference>
    <status>Active</status>
    <variables>
        <name>lstDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>lstDocumentTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Template__mdt</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>varDocumentMatrix</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>varDocumentMatrixId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentMatrixName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentMatrixRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>varDocumentTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Template__mdt</objectType>
    </variables>
    <variables>
        <name>varDocumentTemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Template__mdt</objectType>
    </variables>
    <variables>
        <name>varDoumentMatrixName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
