src/flows/Flow_Update_Quotes_to_Cancelled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_qliRecord_To_List</name>
        <label>Add qliRecord To List</label>
        <locationX>331</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>qliIns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToStringList</name>
        <label>AddToStringList</label>
        <locationX>973</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>lstQuotes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Unique_Quote_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoFinalList</name>
        <label>AssigntoFinalList</label>
        <locationX>1194</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDraftQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_To_Cancelled</name>
        <label>Change Status To Cancelled</label>
        <locationX>738</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>varDraftQuote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftQuote.Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Unavailable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoFinalList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Quote_Id_From_QLI</name>
        <label>Populate Quote Id From QLI</label>
        <locationX>470</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>lstUniqueQuoteId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oQuoteLine.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverQuoteLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Multiple_Quotes_In_List</name>
        <label>Check Multiple Quotes In List</label>
        <locationX>652</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Populate_Quote_Id_From_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_In_The_lstQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstUniqueQuoteId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>oQuoteLine.QuoteId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverQuoteLineItems</targetReference>
            </connector>
            <label>Check In The lstQuote</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_QLI_List_is_not_null</name>
        <label>if QLI List is not null</label>
        <locationX>331</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lstQuoteLineItem_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstQuoteLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverQuoteLineItems</targetReference>
            </connector>
            <label>lstQuoteLineItem is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuoteisDraft_NotSoftbooked</name>
        <label>QuoteisDraft&amp;NotSoftbooked</label>
        <locationX>729</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>LoopOverQuotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft_and_not_softbooked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftQuote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftQuote.Soft_Book__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_To_Cancelled</targetReference>
            </connector>
            <label>Draft and not softbooked</label>
        </rules>
    </decisions>
    <description>Update all the Quotes that are in draft status to Cancelled if any other Quote is updated to Soft Booked</description>
    <interviewLabel>Flow - Update Quotes to Cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Update Quotes to Cancelled</label>
    <loops>
        <name>Add_QLI</name>
        <label>Add QLI</label>
        <locationX>86</locationX>
        <locationY>682</locationY>
        <assignNextValueToReference>qliIns</assignNextValueToReference>
        <collectionReference>listQLIForEachProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_qliRecord_To_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_QLI_List_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Unique_Quote_Ids</name>
        <label>Loop Over Unique Quote Ids</label>
        <locationX>882</locationX>
        <locationY>552</locationY>
        <assignNextValueToReference>quoteId</assignNextValueToReference>
        <collectionReference>lstUniqueQuoteId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Query_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverQuotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverQuoteLineItems</name>
        <label>LoopOverQuoteLineItems</label>
        <locationX>474</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>oQuoteLine</assignNextValueToReference>
        <collectionReference>lstQuoteLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Multiple_Quotes_In_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Unique_Quote_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverQuotes</name>
        <label>LoopOverQuotes</label>
        <locationX>498</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>varDraftQuote</assignNextValueToReference>
        <collectionReference>lstQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuoteisDraft_NotSoftbooked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFinalList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_all_Quote_Line_Items</name>
        <label>Fetch all Quote Line Items</label>
        <locationX>136</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_QLI</targetReference>
        </connector>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopProductRecords.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>listQLIForEachProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Quote</name>
        <label>Query Quote</label>
        <locationX>1093</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToStringList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>originalQuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>oQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Soft_Book__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFinalList</name>
        <label>UpdateFinalList</label>
        <locationX>501</locationX>
        <locationY>1015</locationY>
        <inputReference>lstQuoteFinal</inputReference>
    </recordUpdates>
    <startElementReference>Fetch_all_Quote_Line_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>listProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listQLIForEachProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>LoopProductRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>LoopQuoteCollVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>LoopQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>lstQuoteFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>To gather Quote Ids</description>
        <name>lstQuoteId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstQuoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>lstQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>lstUniqueQuoteId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>oQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>originalQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>proId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qliIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>qliRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteCollVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineCollVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varDraftQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
