src/flows/Lease_Termination_Case_Validation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Boolean_Variable</name>
        <label>Assign Boolean Variable</label>
        <locationX>857</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>CheckWhethertocreatecase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Case_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Creation</name>
        <label>Check Case Creation</label>
        <locationX>1012</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Not_Possible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckWhethertocreatecase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Type_ID</targetReference>
            </connector>
            <label>Check if allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Rec_Status</name>
        <label>Check Case Rec Status</label>
        <locationX>593</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Case_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCaseExist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand Sales Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boolean_Variable</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Stage_and_Type</name>
        <label>Check Opp Stage and Type</label>
        <locationX>611</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Records</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseRecList</name>
        <label>CheckCaseRecList</label>
        <locationX>877</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Case_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Size_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record_Type_ID</targetReference>
            </connector>
            <label>If Size = 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Activated</name>
        <label>Is Contract Activated</label>
        <locationX>379</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_while_trying_to_create_Termination_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklist_TerminationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termination_Reason_new__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Lease Termination Case Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lease Termination Case Validation</label>
    <loops>
        <name>Loop_Over_Case_List</name>
        <label>Loop Over Case List</label>
        <locationX>797</locationX>
        <locationY>249</locationY>
        <assignNextValueToReference>caseRec</assignNextValueToReference>
        <collectionReference>caseRecList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_Rec_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Case_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lease_Termination_Case</name>
        <label>Create Lease Termination Case</label>
        <locationX>1274</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_Termination_In_Progress</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>oppRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Comments__c</field>
            <value>
                <elementReference>Description_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>oppRecord.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Obligation_Date__c</field>
            <value>
                <elementReference>Financial_Obligation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_Out_Date__c</field>
            <value>
                <elementReference>Move_Out_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>oppRecord.SyncedQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason_new__c</field>
            <value>
                <elementReference>Termination_Reason_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Termination</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Case_Record_Type_ID</name>
        <label>Case Record Type ID</label>
        <locationX>1012</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateLeaseTerminationCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease_Termination</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>765</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCaseRecList</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Before_Update</name>
        <label>Get Opportunity Before Update</label>
        <locationX>1430</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractRecords.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>StageNameBeforeCaseCreation</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>495</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opp_Stage_and_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SyncedQuoteId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contract_Record</name>
        <label>Lookup Contract Record</label>
        <locationX>271</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>varContractRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_to_Termination_Initiated</name>
        <label>Update Contract to Termination Initiated</label>
        <locationX>1176</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Lease_Termination_Case_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Termination In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Before_Termination__c</field>
            <value>
                <elementReference>varContractRecords.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Termination_In_Progress</name>
        <label>Update Opportunity to Termination In Progress</label>
        <locationX>1267</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Update_Contract_to_Termination_Initiated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Termination In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageNameBeforeTerminationCase__c</field>
            <value>
                <elementReference>oppRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>CreateLeaseTerminationCase</name>
        <label>Create Lease Termination Case</label>
        <locationX>1147</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lease_Termination_Case</targetReference>
        </connector>
        <fields>
            <name>Termination_Date</name>
            <dataType>Date</dataType>
            <fieldText>Termination Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Termination Date can not be before the Contract Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Termination_Date} &gt;= {!ContractStartDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Move_Out_Date</name>
            <dataType>Date</dataType>
            <fieldText>Move Out Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The Move Out Date can&apos;t be before the Termination Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Move_Out_Date} &gt;= {!Termination_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Termination_Reason_new</name>
            <choiceReferences>picklist_TerminationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Termination Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Financial_Obligation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Financial Obligation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_Comments</name>
            <fieldText>Description/Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Opp</name>
        <label>Error_Message_Opp</label>
        <locationX>510</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Opportunity Should be Active for Termination&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_while_trying_to_create_Termination_Case</name>
        <label>Error while trying to create Termination Case</label>
        <locationX>387</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnableToCreateTerminationCase</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;You are unable to terminate a Contract that is not Active or if there is a Termination case pending. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lease_Termination_Case_Created</name>
        <label>Lease Termination Case Created</label>
        <locationX>1177</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeaseTerminationCaseCreated</name>
            <fieldText>&lt;p&gt;Your Lease Termination Case has been created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Possible</name>
        <label>Not Possible</label>
        <locationX>1019</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_To_Display</name>
            <fieldText>&lt;p&gt;Case already exist on this Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Contract_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CheckWhethertocreatecase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varContractRecords.StartDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>oppRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageNameBeforeCaseCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
