src/flows/Lease_Termination_Work_Order_Header.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check Account&apos;s License Type</description>
        <name>CheckAccountLicenseType</name>
        <label>CheckAccountLicenseType</label>
        <locationX>656</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountLicenceType</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DDA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRecord.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DED</stringValue>
                </rightValue>
            </conditions>
            <label>AccountLicenceType</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Case Status</description>
        <name>CheckCaseStatus</name>
        <label>CheckCaseStatus</label>
        <locationX>540</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetCaseStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDDAWorkOrderTemplate</targetReference>
            </connector>
            <label>GetCaseStatus</label>
        </rules>
        <rules>
            <name>GetCaseType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkOrderTemplateRecords</targetReference>
            </connector>
            <label>GetCaseType</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDDAOwnerId</name>
        <label>CheckDDAOwnerId</label>
        <locationX>964</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DDAOwnerIdNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchDDAWorkOderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDDAWorkOrderRecord</targetReference>
            </connector>
            <label>DDAOwnerIdNotNULL</label>
        </rules>
        <rules>
            <name>DDAOwnerIdNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchDDAWorkOderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDDAWorkOrder</targetReference>
            </connector>
            <label>DDAOwnerIdNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHandoverInspectionWorkOrderOwnerId</name>
        <label>CheckHandoverInspectionWorkOrderOwnerId</label>
        <locationX>353</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HandoverInspectionOwnerIdNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchHandoverInspectionWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHandoverInspectionWorkOrder</targetReference>
            </connector>
            <label>HandoverInspectionOwnerIdNotNULL</label>
        </rules>
        <rules>
            <name>HandoverInspectionOwnerIdNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchHandoverInspectionWorkOrderTemplateRecord.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHandoverInspectionWorkOrderRecord</targetReference>
            </connector>
            <label>HandoverInspectionOwnerIdNULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Security Inspection Work Order Owner</description>
        <name>CheckSecurityInspectionWorkOrderOwnerId</name>
        <label>CheckSecurityInspectionWorkOrderOwnerId</label>
        <locationX>1412</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SecurityInspectionOwnerIdNotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchSecurityInspectionWorkOrderTemplateRecords.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSecurityInspectionWorkOrderRecord</targetReference>
            </connector>
            <label>SecurityInspectionOwnerIdNotNULL</label>
        </rules>
        <rules>
            <name>SecurityInspectionOwnerIdNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchSecurityInspectionWorkOrderTemplateRecords.Owner_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSecurityInspectionWorkOrder</targetReference>
            </connector>
            <label>SecurityInspectionOwnerIdNULL</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Lease Termination Work Order Header {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lease Termination Work Order Header</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateDDAWorkOrder</name>
        <label>CreateDDAWorkOrder</label>
        <locationX>1261</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>DDAWorkOrderId</assignRecordIdToReference>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDDAWorkOrderRecord</name>
        <label>CreateDDAWorkOrderRecord</label>
        <locationX>1297</locationX>
        <locationY>334</locationY>
        <assignRecordIdToReference>DDAWorkOrderId</assignRecordIdToReference>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchDDAWorkOderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateHandoverInspectionWorkOrder</name>
        <label>CreateHandoverInspectionWorkOrder</label>
        <locationX>693</locationX>
        <locationY>701</locationY>
        <assignRecordIdToReference>HandoverInspectionWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>GetSecurityInspectionWorkOrderTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <description>Create Handover Inspection Work Order Record</description>
        <name>CreateHandoverInspectionWorkOrderRecord</name>
        <label>CreateHandoverInspectionWorkOrderRecord</label>
        <locationX>425</locationX>
        <locationY>816</locationY>
        <assignRecordIdToReference>HandoverInspectionWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>GetSecurityInspectionWorkOrderTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchHandoverInspectionWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <description>CreateSecurityInspectionWorkOrderRecord</description>
        <name>CreateSecurityInspectionWorkOrder</name>
        <label>CreateSecurityInspectionWorkOrder</label>
        <locationX>1303</locationX>
        <locationY>952</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSecurityInspectionWorkOrderRecord</name>
        <label>CreateSecurityInspectionWorkOrderRecord</label>
        <locationX>1075</locationX>
        <locationY>963</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchSecurityInspectionWorkOrderTemplateRecords.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>992</locationX>
        <locationY>63</locationY>
        <assignRecordIdToReference>WorkOrderBrandSaleId</assignRecordIdToReference>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>FetchWorkOrderTemplateRecord.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>180</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountLicenseType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>License_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>GetCaseRecord</label>
        <locationX>221</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrderHeaderRecords</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDDAWorkOrderTemplate</name>
        <label>GetDDAWorkOrderTemplate</label>
        <locationX>857</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDDAOwnerId</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DDA License De-Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>FetchDDAWorkOderTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSecurityInspectionWorkOrderTemplate</name>
        <label>GetSecurityInspectionWorkOrderTemplate</label>
        <locationX>1248</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSecurityInspectionWorkOrderOwnerId</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security Inspection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>FetchSecurityInspectionWorkOrderTemplateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
        <queriedFields>Work_Order_Header__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderHeaderRecords</name>
        <label>GetWorkOrderHeaderRecords</label>
        <locationX>477</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCaseStatus</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease_Termination</stringValue>
            </value>
        </filters>
        <object>Work_Order_Header__mdt</object>
        <outputReference>FetchWorkOrderHeaderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Work Order Header Records</description>
        <name>GetWorkOrderTemplateRecords</name>
        <label>GetWorkOrderTemplateRecords</label>
        <locationX>822</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brand Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FetchWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>FetchWorkOrderTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
        <queriedFields>Work_Order_Header__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
    </recordLookups>
    <startElementReference>GetCaseRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DDAWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DDAWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Fetch DDA  Work Oder Template Record</description>
        <name>FetchDDAWorkOderTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>FetchHandoverInspectionWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>FetchHandoverInspectionWorkOrderTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>FetchSecurityInspectionWorkOrderTemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>FetchWorkOrderHeaderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Header__mdt</objectType>
    </variables>
    <variables>
        <name>FetchWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>FetchWorkOrderTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>GetWorkHeaderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Header__mdt</objectType>
    </variables>
    <variables>
        <name>GetWorkOrderOfBrandSale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>HandoverInspectionWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderBrandSaleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
