src/flows/New_Lease_Initiate_Handover_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Items_To_Work_Order_List</name>
        <label>Add Items To Work Order List</label>
        <locationX>786</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWorkOrderInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Work_Order_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Instance</name>
        <label>Work Order Instance</label>
        <locationX>1071</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderTemplateInstance.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderTemplateInstance.Owner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.Work_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderTemplateInstance.Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderTemplateInstance.Work_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderTemplateInstance.Record_Type_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractRecords.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderInstance.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractRecords.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Items_To_Work_Order_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contract_Active</name>
        <label>Is Contract Active</label>
        <locationX>393</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Unable_to_generate_a_Handover_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractRecords.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case_Record_Type_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>New Lease - Initiate Handover Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lease - Initiate Handover Process</label>
    <loops>
        <name>Loop_Through_Work_Order_Template</name>
        <label>Loop Through Work Order Template</label>
        <locationX>916</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>varWorkOrderTemplateInstance</assignNextValueToReference>
        <collectionReference>varLeaseHandoverWorkOrderTemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Order_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Lease_Handover_Work_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lease_Handover_Case</name>
        <label>Create Lease Handover Case</label>
        <locationX>757</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Work_Order_Header_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varContractRecords.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContractRecords.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varContractRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>varContractRecords.Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lease_Handover_Work_Orders</name>
        <label>Create Lease Handover Work Orders</label>
        <locationX>912</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Handover_Case_and_WO_created</targetReference>
        </connector>
        <inputReference>varWorkOrderList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Case_Record_Type_ID</name>
        <label>Lookup Case Record Type ID</label>
        <locationX>596</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lease_Handover_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premise_Handover</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contract_Record</name>
        <label>Lookup Contract Record</label>
        <locationX>236</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contract_Active</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>varContractRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Quote__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Order_Header_Name</name>
        <label>Lookup Work Order Header Name</label>
        <locationX>757</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Work_Order_Templates</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease_Handover</stringValue>
            </value>
        </filters>
        <object>Work_Order_Header__mdt</object>
        <outputReference>varLeaseHandoverWorkOrderHeaderRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Order_Templates</name>
        <label>Lookup Work Order Templates</label>
        <locationX>756</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Work_Order_Template</targetReference>
        </connector>
        <filters>
            <field>Work_Order_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeaseHandoverWorkOrderHeaderRecord.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Template__mdt</object>
        <outputReference>varLeaseHandoverWorkOrderTemplateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
        <queriedFields>Owner_ID__c</queriedFields>
        <queriedFields>Record_Type_ID__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Handover_Case_and_WO_created</name>
        <label>Handover Case and WO created</label>
        <locationX>1085</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HandoverCaseandWorkOrdersCreated</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;user-select: auto;&quot;&gt;Your Handover Case and Work Orders have been created. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;To view the Case &lt;a href=&quot;https://tecomcorporatecrm--4cdev.lightning.force.com/lightning/r/Case/{!varCaseId}/view&quot; target=&quot;_blank&quot; style=&quot;user-select: auto;&quot;&gt;click here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_generate_a_Handover_Case</name>
        <label>Unable to generate a Handover Case</label>
        <locationX>403</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Unable_to_create_Handover_Case</name>
            <fieldText>&lt;p&gt;You are unable to create a Handover Case and Work Orders if the Contract is not Activated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Contract_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varLeaseHandoverWorkOrderHeaderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Header__mdt</objectType>
    </variables>
    <variables>
        <name>varLeaseHandoverWorkOrderTemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
    <variables>
        <name>varWorkOrderCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varWorkOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varWorkOrderTemplateInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Template__mdt</objectType>
    </variables>
</Flow>
