src/flows/Opportunity_Lease_Renewal_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add Qualified Child Opportunities in the list.</description>
        <name>Add_Qualified_Child_Opportunities</name>
        <label>Add Qualified Child Opportunities</label>
        <locationX>772</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>lstRenewalOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildOpportunityRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Renewal_Opportunities_to_be_created</name>
        <label>Add Renewal Opportunities to be created</label>
        <locationX>895</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>lstToBeCreatedRenewalOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRenewalOppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Qualified_Renewal_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Opportunities_values</name>
        <label>Assign Renewal Opportunities values</label>
        <locationX>738</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Business_Park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.Business_Park__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Lease_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRenewalOpportunityLeaseStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Lease_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRenewalOpportunityLeaseEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalOppRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Renewal_Opportunities_to_be_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_ChildOpportunityRecords_not_null</name>
        <label>Check if ChildOpportunityRecords not null</label>
        <locationX>532</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_ChildOpportunityRecords_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildOpportunityRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_Opportunities</targetReference>
            </connector>
            <label>Check if ChildOpportunityRecords is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_lstToBeCreatedRenewalOpportunities_is_not_null</name>
        <label>Check if lstToBeCreatedRenewalOpportunities is not null</label>
        <locationX>527</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lstToBeCreatedRenewalOpportunities_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstToBeCreatedRenewalOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Opportunities</targetReference>
            </connector>
            <label>lstToBeCreatedRenewalOpportunities is not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Lease End Date and Building Name of child opportunities is same as parent opportunity</description>
        <name>Check_Lease_End_Date_and_Building_Name</name>
        <label>Check Lease End Date and Building Name</label>
        <locationX>536</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lease_End_Date_and_Building_Name_is_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChildOppRecord.Building_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varParentOpportunityRecord.Building_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varChildOppRecord.Lease_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varParentOpportunityRecord.Lease_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Qualified_Child_Opportunities</targetReference>
            </connector>
            <label>Lease End Date and Building Name is Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_lstRenewalOpportunities_is_not_null</name>
        <label>Check lstRenewalOpportunities is not null</label>
        <locationX>349</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lstRenewalOpportunities_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstRenewalOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Qualified_Renewal_Opportunities</targetReference>
            </connector>
            <label>lstRenewalOpportunities is not null</label>
        </rules>
    </decisions>
    <formulas>
        <name>varRenewalOpportunityLeaseEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varParentOpportunityRecord.Lease_End_Date__c} + 365</expression>
    </formulas>
    <formulas>
        <name>varRenewalOpportunityLeaseStartDate</name>
        <dataType>Date</dataType>
        <expression>{!varParentOpportunityRecord.Lease_End_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Opportunity Lease Renewal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Lease Renewal Flow</label>
    <loops>
        <description>Loop through Child Opportunities Records</description>
        <name>Loop_through_Child_Opportunities</name>
        <label>Loop through Child Opportunities</label>
        <locationX>356</locationX>
        <locationY>185</locationY>
        <assignNextValueToReference>varChildOppRecord</assignNextValueToReference>
        <collectionReference>ChildOpportunityRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lease_End_Date_and_Building_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_lstRenewalOpportunities_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_lstRenewalOpportunitiesToBeCreated</name>
        <label>Loop through lstRenewalOpportunitiesToBeCreated</label>
        <locationX>696</locationX>
        <locationY>650</locationY>
        <assignNextValueToReference>varRenewalOpportunityCreatedInstance</assignNextValueToReference>
        <collectionReference>lstToBeCreatedRenewalOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Renewal_Quote_And_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Parent_Renewal_Junction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Qualified Renewal Opportunities</description>
        <name>Loop_through_Qualified_Renewal_Opportunities</name>
        <label>Loop through Qualified Renewal Opportunities</label>
        <locationX>537</locationX>
        <locationY>356</locationY>
        <assignNextValueToReference>varRenewalOppRecord</assignNextValueToReference>
        <collectionReference>lstRenewalOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Renewal_Opportunities_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_lstToBeCreatedRenewalOpportunities_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Child_Renewal_Junction_Record</name>
        <label>Create Opportunity Child Renewal Junction Record</label>
        <locationX>889</locationX>
        <locationY>827</locationY>
        <assignRecordIdToReference>varChildRenewalOppJunctionId</assignRecordIdToReference>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varRenewalOppRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varRenewalOppRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Junction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Parent_Renewal_Junction</name>
        <label>Create Opportunity Parent Renewal Junction</label>
        <locationX>696</locationX>
        <locationY>827</locationY>
        <assignRecordIdToReference>varParentRenewalOppJunctionId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_Child_Renewal_Junction_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varParentOpportunityRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varParentOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Junction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunities</name>
        <label>Create Renewal Opportunities</label>
        <locationX>696</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Loop_through_lstRenewalOpportunitiesToBeCreated</targetReference>
        </connector>
        <inputReference>lstToBeCreatedRenewalOpportunities</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get All Child Opportunities related to the parent opportunity</description>
        <name>Get_All_Child_Opportunities</name>
        <label>Get All Child Opportunities</label>
        <locationX>359</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_ChildOpportunityRecords_not_null</targetReference>
        </connector>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ChildOpportunityRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lease_End_Date__c</queriedFields>
        <queriedFields>Building_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Parent Opportunity Record that triggered the process</description>
        <name>Get_Parent_Opportunity_Record</name>
        <label>Get Parent Opportunity Record</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Child_Opportunities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varParentOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lease_End_Date__c</queriedFields>
        <queriedFields>Lease_Start_Date__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Building_Name__c</queriedFields>
        <queriedFields>Business_Park__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity_Type__c</queriedFields>
        <queriedFields>Parent_Opportunity__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <startElementReference>Get_Parent_Opportunity_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Renewal_Quote_And_QLI</name>
        <label>Create Renewal Quote And QLI</label>
        <locationX>892</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Loop_through_lstRenewalOpportunitiesToBeCreated</targetReference>
        </connector>
        <flowName>Create_Renewal_Quote_And_QLI</flowName>
        <inputAssignments>
            <name>OppId</name>
            <value>
                <elementReference>varRenewalOpportunityCreatedInstance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityEndDate</name>
            <value>
                <elementReference>varRenewalOpportunityCreatedInstance.Lease_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityLeaseStartDate</name>
            <value>
                <elementReference>varRenewalOpportunityCreatedInstance.Lease_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentOppId</name>
            <value>
                <elementReference>varParentOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ChildOpportunityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstRenewalOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstToBeCreatedRenewalOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChildOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varChildRenewalOppJunctionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varParentRenewalJunctionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Junction__c</objectType>
    </variables>
    <variables>
        <name>varParentRenewalOppJunctionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRenewalOpportunityCreatedInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRenewalOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
