src/flows/Quote_Soft_Booking_Expiry.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Product_Id_in_List</name>
        <label>Add Product Id in List</label>
        <locationX>180</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>quoteProductIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteLineItemObj.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_QLI_to_get_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_to_List</name>
        <label>Add Product to List</label>
        <locationX>1119</locationX>
        <locationY>906</locationY>
        <assignmentItems>
            <assignToReference>QuoteUnitIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productObj.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_product_is_soft_booked_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Product_to_List</name>
        <label>Add Updated Product to List</label>
        <locationX>580</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>QuoteRelatedProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Product_Id_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Unit_to_List</name>
        <label>Add Updated Unit to List</label>
        <locationX>1298</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>quoteRelatedUnitList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Unit_ID_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>743</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>productObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productObj.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Unit_To_Available</name>
        <label>Update Unit To Available</label>
        <locationX>1417</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>unitInstance.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitInstance.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Unit_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Product_already_exists_in_Set</name>
        <label>Check if Product already exists in Set</label>
        <locationX>650</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Add_Product_Id_in_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Product_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteProductIdSet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>quoteLineItemObj.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_QLI_to_get_product</targetReference>
            </connector>
            <label>Check if Product already exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_product_is_soft_booked_or_not</name>
        <label>Check if product is soft booked or not</label>
        <locationX>934</locationX>
        <locationY>965</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_product_is_soft_booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productObj.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>Check if product is soft booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_record_found</name>
        <label>Check if record found</label>
        <locationX>1540</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_record_found_or_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_To_Available</targetReference>
            </connector>
            <label>Check if record found or Not</label>
        </rules>
    </decisions>
    <interviewLabel>Quote Soft Booking Expiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Soft Booking Expiry</label>
    <loops>
        <name>Iterate_Over_Product_Id_List</name>
        <label>Iterate Over Product Id List</label>
        <locationX>1389</locationX>
        <locationY>258</locationY>
        <assignNextValueToReference>productId</assignNextValueToReference>
        <collectionReference>quoteProductIdSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Unit_ID_Set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_QLI_to_get_product</name>
        <label>Iterate Over QLI to get product</label>
        <locationX>936</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>quoteLineItemObj</assignNextValueToReference>
        <collectionReference>quoteLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Product_already_exists_in_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Product_Id_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Unit_ID_Set</name>
        <label>Iterate Over Unit ID Set</label>
        <locationX>1715</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>unitId</assignNextValueToReference>
        <collectionReference>QuoteUnitIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Unit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>1222</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Product_to_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>productObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_QLI_Related_to_Quote</name>
        <label>Get QLI Related to Quote</label>
        <locationX>665</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_QLI_to_get_product</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>quoteLineItemList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Record</name>
        <label>Get Unit Record</label>
        <locationX>1515</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soft Booked</stringValue>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>unitInstance</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Records</name>
        <label>Update Product Records</label>
        <locationX>2020</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Update_Unit_Records</targetReference>
        </connector>
        <inputReference>QuoteRelatedProductList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Records</name>
        <label>Update Unit Records</label>
        <locationX>1960</locationX>
        <locationY>540</locationY>
        <inputReference>quoteRelatedUnitList</inputReference>
    </recordUpdates>
    <startElementReference>Get_QLI_Related_to_Quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quoteLineItemObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quoteLinetItemObj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteProductIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>QuoteRelatedProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>quoteRelatedUnitList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>QuoteUnitIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteUnitIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>unitObj</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
