src/flows/Update_Parent_and_Renewal_Opp_When_Case_is_Cancelled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Parent_To_List_Of_Opp</name>
        <label>Add Parent To List Of Opp</label>
        <locationX>306</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>OppListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>747</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>OppListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildOppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Child_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_Of_Child_Opp</name>
        <label>Change Status Of Child Opp</label>
        <locationX>746</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>ChildOppToUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRenewalOpp.StageNameBeforeTerminationCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildOppToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildRenewalOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_of_Parent_opp</name>
        <label>Change Status of Parent opp</label>
        <locationX>211</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_To_List_Of_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Qualification_of_Opp</name>
        <label>Check For Qualification of Opp</label>
        <locationX>548</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Child_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Qualified</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ChildRenewalOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChildRenewalOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChildRenewalOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_Of_Child_Opp</targetReference>
            </connector>
            <label>If Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Child_Renewal_Opp_0</name>
        <label>Check If Child Renewal Opp &gt; 0</label>
        <locationX>405</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Update_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildOppList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Child_Opp</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <interviewLabel>Update Parent and Renewal Opp When Case is Cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent and Renewal Opp When Case is Cancelled</label>
    <loops>
        <name>Loop_Over_Child_Opp</name>
        <label>Loop Over Child Opp</label>
        <locationX>556</locationX>
        <locationY>153</locationY>
        <assignNextValueToReference>ChildRenewalOpp</assignNextValueToReference>
        <collectionReference>ChildOppList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Qualification_of_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Records</name>
        <label>Get Child Records</label>
        <locationX>411</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Child_Renewal_Opp_0</targetReference>
        </connector>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ChildOppList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageNameBeforeTerminationCase__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opp</name>
        <label>Get Parent Opp</label>
        <locationX>132</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Status_of_Parent_opp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>499</locationX>
        <locationY>387</locationY>
        <inputReference>OppListToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Parent_Opp</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChildOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ChildOppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ChildRenewalOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
