src/flows/Update_Building_Name_field_on_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Update Building Name field on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Building Name field on Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Building_Record</name>
        <label>Get Building Record</label>
        <locationX>856</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_Reord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUnit.Building__c</elementReference>
            </value>
        </filters>
        <object>Building__c</object>
        <outputReference>GetBuilding</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Building_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item_Record</name>
        <label>Get Quote Line Item Record</label>
        <locationX>376</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductRecord</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>GetQuoteLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>GetQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Building__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Records</name>
        <label>Get Unit Records</label>
        <locationX>694</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProduct.Unit__c</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>GetUnit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Building__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Quote_Record</name>
        <label>Get Updated Quote Record</label>
        <locationX>832</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>GetUpdatedQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Building__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductRecord</name>
        <label>GetProductRecord</label>
        <locationX>541</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>GetProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>852</locationX>
        <locationY>439</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUpdatedQuote.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Building_Name__c</field>
            <value>
                <elementReference>GetUpdatedQuote.Building__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Reord</name>
        <label>Update Quote Reord</label>
        <locationX>852</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Get_Updated_Quote_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>GetBuilding.Building_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>Get_Quote_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>GetBuilding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Building__c</objectType>
    </variables>
    <variables>
        <name>GetProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>GetQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>GetQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>GetUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>GetUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetUpdatedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
