src/flows/Update_Active_Billing_Contact_For_Renewal_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Billing_Contact_To_Opportunity</name>
        <label>Assign Billing Contact To Opportunity</label>
        <locationX>421</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>opportunityObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityObj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activeBillingContactObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Billing_Contact_Present_Not</name>
        <label>Check if Billing Contact Present Not</label>
        <locationX>336</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Billing_Contact_Presen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeBillingContactObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact_To_Opportunity</targetReference>
            </connector>
            <label>Check if Billing Contact Presen</label>
        </rules>
    </decisions>
    <interviewLabel>Update Active Billing Contact For Renewal Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Active Billing Contact For Renewal Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Billing_Contact_For_Account</name>
        <label>Get Active Billing Contact For Account</label>
        <locationX>215</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Billing_Contact_Present_Not</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Billing_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>activeBillingContactObj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Process</name>
        <label>Update Opportunity Process</label>
        <locationX>649</locationX>
        <locationY>91</locationY>
        <inputReference>opportunityObj</inputReference>
    </recordUpdates>
    <startElementReference>Get_Active_Billing_Contact_For_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activeBillingContactObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
