src/flows/Update_Opportunity_to_Closed_Lost.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Change_Boolean_Value</name>
        <label>Change Boolean Value</label>
        <locationX>729</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>isUpdateParentOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Quote_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_Of_Quote</name>
        <label>Check Status Of Quote</label>
        <locationX>558</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Quote_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteInstance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Boolean_Value</targetReference>
            </connector>
            <label>If Not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_to_update_Opp</name>
        <label>Check Whether to update Opp</label>
        <locationX>336</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUpdateParentOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Opportunity to Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity to Closed Lost</label>
    <loops>
        <name>Loop_Over_Quote_List</name>
        <label>Loop Over Quote List</label>
        <locationX>340</locationX>
        <locationY>41</locationY>
        <assignNextValueToReference>QuoteInstance</assignNextValueToReference>
        <collectionReference>QuoteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_Of_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Whether_to_update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cancelled_Quotes</name>
        <label>Get All Cancelled Quotes</label>
        <locationX>188</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Quote_List</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>345</locationX>
        <locationY>391</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_All_Cancelled_Quotes</startElementReference>
    <status>Active</status>
    <variables>
        <name>isUpdateParentOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
