src/flows/Update_Unit_and_Product_to_Leased.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_product_again</name>
        <label>Add product again</label>
        <locationX>149</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>ProductListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverProductIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Ids_to_List</name>
        <label>Add Product Ids to List</label>
        <locationX>385</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItemRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Records_To_List</name>
        <label>Add Product Records To List</label>
        <locationX>154</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>ProductRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRecord.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_product_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Unit_Id_to_Unique_List</name>
        <label>Add to Unit Id to Unique List</label>
        <locationX>694</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>UniqueUnitIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Unit_Id_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unit_Again</name>
        <label>Add Unit Again</label>
        <locationX>541</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>UnitRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Unique_Unit_Id_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unit_Record_To_List</name>
        <label>Add Unit Record To List</label>
        <locationX>729</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>UnitRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leased</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Unit_Again</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_product_Id</name>
        <label>Check For product Id</label>
        <locationX>435</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Add_Product_Ids_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Value_Do_not_exist_in_Product_Id_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineItemRecord.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_QLIs</targetReference>
            </connector>
            <label>If Value Do not exist in Product Id set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Unique_units</name>
        <label>Check For Unique units</label>
        <locationX>501</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Add_to_Unit_Id_to_Unique_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_unit_id_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueUnitIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ProductId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Unit_Id_List</targetReference>
            </connector>
            <label>If unit id do exist</label>
        </rules>
    </decisions>
    <interviewLabel>Update Unit and Product to Lease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Unit and Product to Leased</label>
    <loops>
        <name>Iterate_Over_Unique_Unit_Id_List</name>
        <label>Iterate Over Unique Unit Id List</label>
        <locationX>643</locationX>
        <locationY>294</locationY>
        <assignNextValueToReference>Id</assignNextValueToReference>
        <collectionReference>UniqueUnitIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Unit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Unit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_QLIs</name>
        <label>Loop Over QLIs</label>
        <locationX>417</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>QuoteLineItemRecord</assignNextValueToReference>
        <collectionReference>QuoteLineItemRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_product_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverProductIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Unit_Id_List</name>
        <label>Loop Over Unit Id List</label>
        <locationX>347</locationX>
        <locationY>413</locationY>
        <assignNextValueToReference>UnitId</assignNextValueToReference>
        <collectionReference>UnitIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Unique_units</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Unique_Unit_Id_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverProductIds</name>
        <label>LoopOverProductIds</label>
        <locationX>266</locationX>
        <locationY>291</locationY>
        <assignNextValueToReference>ProductId</assignNextValueToReference>
        <collectionReference>ProductIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Lost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>68</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Product_Records_To_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_QLI_From_Quotes</name>
        <label>Get QLI From Quotes</label>
        <locationX>300</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_QLIs</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecord.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuoteLineItemRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>142</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QLI_From_Quotes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Record</name>
        <label>Get Unit Record</label>
        <locationX>646</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Unit_Record_To_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>UnitRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Lost</name>
        <label>Update Product Lost</label>
        <locationX>45</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Loop_Over_Unit_Id_List</targetReference>
        </connector>
        <inputReference>ProductListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Records</name>
        <label>Update Unit Records</label>
        <locationX>796</locationX>
        <locationY>219</locationY>
        <inputReference>UnitRecordList</inputReference>
    </recordUpdates>
    <startElementReference>Get_Quote_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>UniqueUnitIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>UnitRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
</Flow>
