src/flows/Update_All_Units_and_Products_to_Available.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Product_Collection</name>
        <label>Assign Product Collection</label>
        <locationX>1188</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>ProductCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listUniqueProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Line_Item_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Status</name>
        <label>Assign Product Status</label>
        <locationX>586</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>ProductRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Unique_Product_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_Fields</name>
        <label>Assign Unit Fields</label>
        <locationX>875</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>loopUnitRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Unique_Product_Id</name>
        <label>Check For Unique Product Id</label>
        <locationX>908</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listUniqueProductId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ProductRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Quote_Line_Item_Records</targetReference>
            </connector>
            <label>Do Not Allow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ProductID_Not_Null</name>
        <label>Check If ProductID Not Null</label>
        <locationX>211</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Get_All_QLIs_which_contains_the_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Allow_To_Find_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Quote_Line_Item_Records</targetReference>
            </connector>
            <label>Do Not Allow To Find Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_is_cancelled</name>
        <label>Check if Quote is cancelled</label>
        <locationX>108</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_QLIs_which_contains_current_Product</targetReference>
            </connector>
            <label>Quote is cancelled</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetQuoteStatus</name>
        <dataType>String</dataType>
        <expression>{!GetQLIRecord.QuoteId}.Status</expression>
    </formulas>
    <formulas>
        <name>Offsettime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime}+ (2/24/60)</expression>
    </formulas>
    <interviewLabel>Update All Units and Products to Available {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update All Units and Products to Available</label>
    <loops>
        <name>Loop_through_QLIs_which_contains_current_Product</name>
        <label>Loop through QLIs which contains current Product</label>
        <locationX>417</locationX>
        <locationY>450</locationY>
        <assignNextValueToReference>GetQLIRecord</assignNextValueToReference>
        <collectionReference>GetAllQLIRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Quote_is_cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Unit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Quote_Line_Item_Records</name>
        <label>Loop Through Quote Line Item Records</label>
        <locationX>646</locationX>
        <locationY>211</locationY>
        <assignNextValueToReference>QuoteLineItemRecords</assignNextValueToReference>
        <collectionReference>QuoteLineRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Unit_Records</name>
        <label>Loop Through Unit Records</label>
        <locationX>550</locationX>
        <locationY>567</locationY>
        <assignNextValueToReference>loopUnitRecord</assignNextValueToReference>
        <collectionReference>varUnitRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Unit_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Product_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_QLIs_which_contains_the_product</name>
        <label>Get All QLIs which contains the product</label>
        <locationX>217</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_QLIs_which_contains_current_Product</targetReference>
        </connector>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecord.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>GetAllQLIRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>QuoteId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>439</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ProductID_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineItemRecords.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item_Records</name>
        <label>Get Quote Line Item Records</label>
        <locationX>648</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Quote_Line_Item_Records</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecord.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuoteLineRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>497</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Records</name>
        <label>Get Unit Records</label>
        <locationX>412</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Unit_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRecord.Unit__c</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>varUnitRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Records</name>
        <label>Update Product Records</label>
        <locationX>868</locationX>
        <locationY>116</locationY>
        <inputReference>ProductCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Record</name>
        <label>Update Unit Record</label>
        <locationX>696</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>Loop_Through_Unit_Records</targetReference>
        </connector>
        <inputReference>loopUnitRecord</inputReference>
    </recordUpdates>
    <startElementReference>Pause_Flow</startElementReference>
    <status>InvalidDraft</status>
    <variables>
        <name>GetAllQLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>GetQLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>GetQuoteRecordRelatedToQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>listUniqueProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopUnitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>ProductCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>QuoteIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnitRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <waits>
        <name>Pause_Flow</name>
        <label>Pause Flow</label>
        <locationX>320</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>No_Condition</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Quote_Record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Offsettime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>No Condition</label>
        </waitEvents>
    </waits>
</Flow>
